html {
    box-sizing: border-box;
    scroll-behavior: smooth;
}

*, *::before, *::after {
    box-sizing: inherit;
}

a {
    text-decoration: none;
    color: inherit;
}

ul,
li {
    list-style: none;
    margin: 0;
    padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    font-size: inherit;
}

body {
    min-width: 320px;
    overflow-x: hidden;
    position: relative;
    color: #000;
    font-size: 17px;
    line-height: 26px;
}
  button:active, button:hover, button:focus {
      outline: none;
  }

.app-whrapper {
  background-color: #F0F2F5;
}

.container {
  display: grid;
  position: relative;
  grid-template-areas: 
  "header header"
  "nav main";
  grid-template-rows: 60px 1fr;
  grid-template-columns: 2fr 10fr;
  grid-gap: 20px;
  width: 100%;
  max-width: 1270px;
  padding: 0 20px;
  margin: 0 auto;
  padding-bottom: 30px;
}

.header {
  grid-area: header;
  background-color: #FFFFFF;
  padding: 10px 0;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  padding-left: 20px;
  width: 100%;
  box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.15);
}

.header__logo {
  width: 40px;
  height: 40px;
  cursor: pointer;
}

.navigation {
  grid-area: nav;
  background-color: #F0F2F5;
}

.navigation__whrapper {
  margin-top: 5px;
}

.navigation__item:last-child {
  padding-top: 40px;
}

.navigation__link,
.navigation__link:visited {
  display: block;
  padding: 15px;
  border-radius: 5px;
  font-size: 20px;
}

.navigation__link:hover,
.navigation__link:active,
.navigation__link:focus {
  transition: all .3s;
  background-color: #E4E6E9;
}

.main {
  grid-area: main;
  background-color: #F0F2F5;
}

.banner {
  margin-top: 5px;
  background-image: url('banner.jpg');
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
  width: 100%;
  height: 300px;
  box-shadow: 0px 2px 5px 1px rgba(0,0,0,0.3);
  border-radius: 5px;
}

.user {
  display: flex;
  margin-top: 25px;
  padding: 30px 20px;
  background-color: #FFF;
  border-radius: 5px;
  box-shadow: 0px 1px 5px 1px rgba(0,0,0,0.15);
}

.user__photo img {
  width: 180px;
  height: 180px;
  box-shadow: 0px 2px 5px 1px rgba(0,0,0,0.3);
  border-radius: 50%;
}

.user__info {
  margin-left: 80px;
}

.user__name {
  font-size: 34px;
  margin-bottom: 25px;
}

.user__text {
  font-size: 18px;
  margin: 10px 0;
}

.user__text:last-child {
  margin: 0;
}

.user__text_asked {
  display: inline-block;
  width: 140px;
}

.posts {
  margin-top: 25px;
  padding: 30px 20px;
  background-color: #FFF;
  border-radius: 5px;
  box-shadow: 0px 1px 5px 1px rgba(0,0,0,0.15);
}

.posts__heading {
  font-weight: 500;
  font-size: 28px;
  margin-top: 0;
}

.posts__form {
  width: 65%;
  display: flex;
  flex-direction: column;
}

.posts__textarea,
.posts__input {
  padding: 15px;
  border: none;
  outline: none;
  box-shadow: 0px 1px 5px 1px rgba(0,0,0,0.15);
  border-radius: 5px;
  font-size: 18px;
}

.posts__textarea {
  resize: none;
  min-height: 144px;
  background-color: #F0F2F5;
  margin-bottom: 10px;
}

.posts__input {
  width: 95px;
  text-align: center;
  padding: 7px 15px;
  align-self: flex-end;
  cursor: pointer;
  background-color: #1877F2;
  color: #fff;
}

.posts__input:hover,
.posts__input:active,
.posts__input:focus {
  background-color: #1771E6;
  transition: all .3s;
}

.posted-items__item {
  display: flex;
  align-items: center;
  margin-top: 25px;
  padding: 20px 20px;
  background-color: #FFF;
  border-radius: 5px;
  box-shadow: 0px 1px 5px 1px rgba(0,0,0,0.15);
}

.posted-items__circle {
  width: 40px;
  height: 40px;
  background-color: #1771E6;
  border-radius: 50%;
  margin-right: 25px;
}

.posted-items__text {
  margin: 0;
  font-size: 18px;
}

.footer {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  background-color: #FFF;
  width: 100%;
  box-shadow: 0px -1px 5px 0px rgba(0,0,0,0.15);
  padding: 15px 20px;
}

.footer__copyright {
  margin: 0 25px 0;
}

.footer__logo {
  width: 40px;
  height: 40px;
  cursor: pointer;
}