html {
    box-sizing: border-box;
    scroll-behavior: smooth;
}

*, *::before, *::after {
    box-sizing: inherit;
}

a {
    text-decoration: none;
    color: inherit;
}

ul,
li {
    list-style: none;
    margin: 0;
    padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    font-size: inherit;
}

body {
    min-width: 320px;
    overflow-x: hidden;
    position: relative;
    color: #000;
    font-size: 17px;
    line-height: 26px;
}
  button:active, button:hover, button:focus {
      outline: none;
  }

.app-whrapper {
  background-color: #F0F2F5;
}

.container {
  display: grid;
  position: relative;
  grid-template-areas: 
  "header header"
  "nav main";
  grid-template-rows: 60px 1fr;
  grid-template-columns: 2fr 10fr;
  grid-gap: 20px;
  width: 100%;
  max-width: 1270px;
  padding: 0 20px;
  margin: 0 auto;
  padding-bottom: 30px;
}

.main {
  grid-area: main;
  background-color: #F0F2F5;
}
