.whrapper {
    display: flex;
    margin-top: 5px;
    height: 75.5vh;
}

/* .dialogs {

} */

.messages {
    position: relative;
    width: 100%;
    margin-left: 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}